<style>
	h1, figure, p {
		text-align: center;
		margin: 0 auto;
	}

	h1 {
		font-size: 2.8em;
		text-transform: uppercase;
		font-weight: 700;
		margin: 0 0 0.5em 0;
	}

	figure {
		margin: 0 0 1em 0;
	}

	img {
		width: 100%;
		max-width: 400px;
		margin: 0 0 1em 0;
	}

	p {
		margin: 1em auto;
	}

	@media (min-width: 480px) {
		h1 {
			font-size: 4em;
		}
	}
</style>

<svelte:head>
	<title>App en Construcción</title>
</svelte:head>

<h1>App en Construcción!</h1>

<figure>
	<img alt='Borat' src='great-success.png'>
	<figcaption>¡VENGA ESOS 5!</figcaption>
</figure>

<p><strong>Esta app esta en construcción, regresa pronto...</strong></p>
