<svelte:head>
	<title>Chido</title>
</svelte:head>

<script>
import Guia from './guia.svelte';
 let cadena='Esta es una cadena';
</script>

<h1>Esta pagina esta chida</h1>

<p>Aqui pondré algo más adelante, aún no se que pedo.</p>

<p>{cadena}</p>

<Guia firma={"Falda"}/>