<script>
	export let segment;
</script>

<style>
	nav {
		/* background-color: rgba(255, 102, 0, 0.05); */
		border-bottom: 1px solid #ff6600;
		color: #666;
		font-weight: 300;
		padding: 0 1em;
	}

	.icon {
		display: block;
		width: 1em;
		height: 1em;
		float: left;
		font-size: 2em;
		position: relative;
		top: 0.4em;
		box-sizing: border-box;
		margin: 0 0.5em 0 0;
	}

	ul {
		margin: 0;
		padding: 0;
	}

	ul::after {
		content: '';
		display: block;
		clear: both;
	}

	li {
		display: block;
		float: left;
	}

	.about {
		float: right;
	}

	.selected {
		position: relative;
		display: inline-block;
		color: #333;
	}

	.selected::after {
		position: absolute;
		content: '';
		width: calc(100% - 1em);
		height: 2px;
		background-color: #ff6600;
		display: block;
		bottom: 0;
	}

	a {
		color: inherit;
		text-decoration: none;
		padding: 1em 0.5em;
		display: block;
		font-weight: 500;
	}

	@media (min-width: 400px) {
		.icon {
			margin: 0 0.5em 0 0;
		}

		li {
			display: inline-block;
		}
	}
</style>

<nav>
    <img alt="Svelte Hacker News logo" class="icon" src="favicon.png">
    
    <ul>

		<li><a rel="prefetch" class='{segment === "inicio"? "selected" : ""}' href='.'>inicio</a></li>
		<li><a rel="prefetch" class='{segment === "yo" ? "selected" : ""}' href='yo'>yo</a></li>
		<li><a rel="prefetch" class='{segment === "blog" ? "selected" : ""}' href='jobs'>blog</a></li>

		<li class='about'><a rel="prefetch" class='{segment === "about" ? "selected" : ""}' href='about'>acerca de</a></li>
	</ul>
</nav>
